@import "/styles/common.scss";

.radio {
  display: block;
  cursor: pointer;

  &__text {
    display: block;
    padding: 8px;
    color: #000000;
    font-family: "Tomorrow - Wind";
    font-size: 122px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    border-radius: 20px;
    border: 2px solid #000000;
  }

  &__input:checked + &__text {
    background-color: $red;
    color: #ffffff;
  }

  &__input {
    display: none;
  }
}
