@import "/styles/common.scss";

$cell-top: 5px;
$cell-right: 9px;

.donate {
  background: $grey-bg;

  &__title {
    font-size: 41px;
    letter-spacing: -1px;
    line-height: 31px;
    color: #fff;
    text-shadow: 1px 1px 0 black;
    font-weight: 900;
    font-style: italic;
    font-family: Vollkorn, sans-serif;
    width: 50%;
    border: 1px solid #000;
    margin: 0 0 36px;

    & > span {
      color: black;
      text-shadow: none;
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__switch {
    width: 58px;
    height: 32px;
    background: $red;
    margin: 0 auto 20px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$cell-right;
    margin-left: -$cell-right;
    margin-top: -$cell-top;
  }

  &__cell {
    //height: 86px;
    background-color: red;
    margin: $cell-top $cell-right;
    width: calc(50% - #{$cell-right * 2});
  }

  &__form {

  }
}
