.header {
  background-color: #b23438;
  height: 40px;
  background-image: url('/andrey_rylkov_eng.svg');
  background-size: 320px 40px; // remake for rus version later
  background-repeat: repeat-x;
  background-position: 22px 14px;
}
